body{
    margin: 0;
    background-color: #333739;
}
.card-container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #131719;
}
.btn{
    position: absolute;
    width: 32px;
    height: 32px;
    font-family: opfont;
    text-align: center;
    color: #535759;
    font-size: 16px;
    line-height: 32px;
    cursor: pointer;
    user-select: none;
}
.btn.book{
    left: 4px;
    top: 4px;
}
.btn.full{
    right: 4px;
    top: 4px;
}
.btn.star{
    right: 4px;
    bottom: 4px;
}
.btn.star.actived{
    color: #ee3739;
}
.btn.remove{
    left: 4px;
    bottom: 4px;
}
.btn.next{
    top: 50%;
    margin-top: -48px;
    right: 4px;
    height: 96px;
    line-height: 96px;
}
.btn.prev{
    top: 50%;
    margin-top: -48px;
    left: 4px;
    height: 96px;
    line-height: 96px;
}
.btn.refresh{
    top: 4px;
    left: 50%;
    margin-left: -16px;
}
.board{
    position: absolute;
    top: 36px;
    left: 36px;
}
.index-indicator{
    width: 100px;
    height: 32px;
    line-height: 32px;
    position: absolute;
    bottom: 4px;
    left: 50%;
    margin-left: -50px;
    color: #737779;
    font-size: 14px;
    text-align: center;
}